.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 116, 116);
}

.container-data-footer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(3, 71, 148);
}

.content-title-footer {
  background-color: rgb(51, 28, 28);
  display: flex;
  padding-top: 100px;
}

.iconMainFooter {
  width: 59px;
  margin-right: 20px;
}

.main-title-footer {
  display: flex;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}

.content-contact-footer{
    padding-top: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}