.footer {
  position: relative;
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background: url(../media/images/footer2.jpg) center no-repeat;
  background-size: cover; */
  background-color: rgb(82, 19, 153);
}

.center-content-footer {
  /* background-color: brown; */
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-title-footer {
  /* background-color: rgb(202, 106, 28); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 266px; */
}

.form-container {
  display: flex;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  width: 100%;
}

.form-elements {
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
  /* padding: 15px; */
  transition: all 0.5s
}

.form-elements::placeholder {
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}

.form-elements:not(:last-child) {
  margin-bottom: 15px;
}

.form-email {
  width: 298px;
  height: 46px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 10px;
  padding: 15px;
}

.form-email:hover,
.form-content:hover {
  background: rgba(17, 206, 111, 0.671);
  color: #000;
}

.form-content {
  min-width: 300px;
  height: 110px;

  background: rgba(255, 255, 255, 0.21);
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
}

.container-button-send {
  position: relative;
}

.form-send {
  position: absolute;
  width: 115px;
  height: 34px;
  right: 0;
  background: rgba(255, 255, 255, 0.73);
  border-radius: 10px;
  color: black;
  text-transform: uppercase;

}

.form-send:hover {
  background: rgba(67, 65, 230, 0.931);
  color: rgb(255, 255, 255);
  transition: all 0.5s
}

.title-footer-content {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  width: 100%;
}

.iconMainFooter {
  height: 80px;
  margin-right: 20px;
}

.main-title-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.content-contact-footer {
  display: flex;
  flex-direction: column;

  /* min-width: 280px; */
  padding-top: 30px;
}

.title-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;

  color: #ffffff;
}

.subtopics-item-contact {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;

  color: #ffffff;
}

.google-maps {
  padding-top: 30px;
  border-radius: 15px;
  height: 300px;
}

.description-item-contact {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;

  color: #ffffff;
}

.content-menu-footer {
  /* width: 242px; */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.title-menu-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;

  color: #ffffff;

  margin-bottom: 25px;
}

.item-menu-footer {
  text-decoration: none;
  margin-bottom: 20px;
  font-family: Proxima Nova;
  font-size: 12px;
  color: #ffffff;
}

.horario-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;

  color: #ffffff;
}

.container-copyright-footer {
  max-width: 971px;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 5;
}


.social-networs {
  margin-bottom: 15px;
  display: flex;
}

.icon-social-footer {
  height: 25px;
}

.icon-social-footer:not(:first-child) {
  margin-left: 29px;
}

.name-school-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.copyright-footer {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1421px) {
  .footer {
    padding: 50px 20px 50px 20px;
    background-color: rgb(82, 19, 153);
  }

  .center-content-footer {
    flex-direction: column;
    max-width: 800px;
  }
}

@media (max-width: 930px) {
  .container-data-footer {
    width: 95%;

    flex-direction: column;
  }

  .content-title-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 70px 0;
  }

  .content-contact-footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .social-networs {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .icon-social-footer {
    width: 30px;
  }

  .icon-social-footer:not(:first-child) {
    margin-left: initial;
  }

  .content-menu-footer {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-copyright-footer {
    width: 90%;
  }
}