#bcHeader {
  position: fixed;
  width: 100%;
  height: 60px;
  transform: translateY(-100%);
  transition: all 0.3s;
  /* background-color: #254558; */
  background-color: #f7f7f7;
  /* background-color: #d6b602; */
  /* background-color: #075f25; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#header {
  position: fixed;
  transform: translateY(100%);
  transition: all 0.3s;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  /* background-color: rgb(104, 65, 65); */
}

nav {
  width: 90%;
  min-width: 925px;
  height: 90%;
  padding: 0 10px 0 10px;
  /* background-color: rgb(39, 38, 38); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  height: 100%;

}

#logoSection {
  padding: 10px;
  /* background-color: rgb(94, 12, 12); */
}

.iconSchool {
  height: 80%;
  fill: white;
}


.iconMenu {
  /* background-color: #fff; */
}

.fillMain {
  fill: #ffffff
}

#itemsSection {
  display: flex;
  align-items: center;
}

.link {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s;
  font-style: normal;
  font-weight: normal;
}

.link:not(:last-child) {
  margin-right: 35px;

}


#searchSection {
  position: relative;
  width: 280px;
  height: 35px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#menuSection {
  display: none;
  height: 100%;
  padding: 10px;
}

.iconMenu {
  height: 80%;
}


.fill-button-menu {
  fill: #ffffff;
}

#boxSearch {
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 2px;
  border: none;
  width: 100%;
  height: 100%;
  font-family: Proxima Nova;
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 0 20px;
  color: rgb(49, 49, 49);
}

#boxSearch,
#boxSearch input[type="text"],
#boxSearch button[type="submit"],
#buttonSearch {
  border: none;
  outline: none;
  color: rgb(46, 46, 46);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#boxSearch::placeholder {
  /* color: rgba(12, 12, 12, 0.747); */
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.placeholder-white::placeholder {
  color: rgba(255, 255, 255, 0.747);
}

.placeholder-dark::placeholder {
  color: rgba(0, 0, 0, 0.747);
}

#buttonSearch {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: linear-gradient(103.58deg, rgba(34, 179, 111, 0.938) 2.2%, rgba(38, 167, 187, 0.815) 99.47%);
  padding-top: 4px;
}

.iconSearch {
  height: 14px;
}

#menuMobile {
  display: none;
  position: fixed;
}

@media (max-width: 1100px) {
  nav {
    min-width: 95%;
  }

  #itemsSection {
    display: none;
  }

  #searchSection {
    display: none;
  }

  #menuSection {
    /* display: initial; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menuMobile {
    display: flex;
    z-index: 150;
    overflow: hidden;
    /* height: 100%; */
    /* background: #282d32; */
    justify-content: center;
    align-items: center;
  }

  .container-menu-mobile {
    transition: all 0.5s;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    height: 80%;
    min-height: 600px;
    /* background-color: #fff; */
  }


  /*
  .container-menu-mobile-show {
    width: 100%;
    transition: all 1s;
  }

  .container-menu-mobile-hidden {
    width: 0%;
    transition: all 1s;
  } */

  .btn-close {
    position: absolute;
    left: calc(50%);
    bottom: 20px;
    transform: translate(-50%);
    width: 45px;
    height: 45px;
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .icon-close {
    width: 70%;
  }

  .container-links-mobile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(10, auto);
    grid-gap: 5px;
  }

  .item-movil {
    border-radius: 5px;
    background-color: rgb(39, 187, 150);
    width: 100%;
    height: 100%;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 19px;
    text-decoration: none;

    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .itemM1 {
    /* background: url(../media/images/menu-mobile/Home.jpg) fixed no-repeat;
    background-size: cover; */

    grid-row: span 5;
    grid-column: span 1;
  }

  .itemM2 {
    grid-row: span 4;
    grid-column: span 1;
    /* background: url(../media/images/menu-mobile/Calender.JPG) fixed no-repeat;
    background-size: cover; */
  }

  .itemM3 {
    grid-row: span 5;
    grid-column: span 1;
    /* background: url(../media/images/menu-mobile/Schoolen.jpg) fixed no-repeat;
    background-size: cover; */
  }

  .itemM4 {
    grid-row: span 3;
    grid-column: span 1;
    /* background: url(../media/images/menu-mobile/Vacaturas.jpg) fixed no-repeat;
    background-size: cover; */
  }

  .itemM5 {
    grid-row: span 4;
    grid-column: span 1;
    /* background: url(../media/images/menu-mobile/LoginPortal.jpg) fixed no-repeat;
    background-size: cover; */
  }

  .itemM6 {
    grid-row: span 3;
    grid-column: span 1;
    /* background: url(../media/images/menu-mobile/Aboutus.jpg) fixed no-repeat;
    background-size: cover; */
  }

  .iconMenuMobile {
    margin-bottom: 3vh;
    width: 40px;
  }
}