.nav-shadow, .shadowDown, .shadowUp {
    position: fixed;
    width: 100%;
    background-color: rgb(70, 69, 69);
    z-index: 19;
}

.nav-shadow {
    height: 0px;
}

.shadowDown {
    height: 80px;
    animation: shadowDown 0.4s;
}

@keyframes shadowDown {
    from {
        height: 0px;
    }
    to {
        height: 80px;
    }
}

.shadowUp {
    height: 0px;
    animation: shadowUp 0.4s;
}

@keyframes shadowUp {
    from {
        height: 80px;
    }
    to {
        height: 0px;
    }
}

/* Header */

header {
    top: 80px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(79, 204, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.headerDown {
    top: 15px;
    animation: headerDown 0.4s;
}

@keyframes headerDown {
    from {
        top: 50px;
    }
    to {
        top: 15px;
    }
}

.headerUp {
    top: 50px;
    animation: headerUp 0.4s;
}

@keyframes headerUp {
    from {
        top: 15px;
    }
    to {
        top: 50px;
    }
}

nav, .navDown, .navUp {
    position: absolute;
    width: 90%;
    max-width: 1300px;
    height: 90%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: rgb(85, 82, 82);
}

.navDown {
    transform: scale(0.8);
    animation: navDown 0.4s;
}

@keyframes navDown {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.8);
    }
}

.navUp {
    transform: scale(1.0);
    animation: navUp 0.4s;
}

@keyframes navUp {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.0);
    }
}

.nav-section {
    /* position: absolute; */
    height: 100%;
}

#logoSection {
    width: 40px;
    height: 40px;
    /* left: 0; */
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    background-color: rgb(80, 17, 17);
}

.icon {
    width: 70%;
}

#itemsSection {
    width: 50%;
    background-color: rgb(128, 18, 18);
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btnMenuSection {
    display: none;
    width: 40px;
    height: 40px;
    /* background-color: rgb(36, 15, 151); */
    right: 0;
    margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item {
    height: 100%;
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link {
    position: relative;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(244, 244, 250); */
    margin-left: 25px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.txt-link {
    color: rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.txt-link-Over {
    color: rgb(8, 8, 8);
    animation: txtOver 0.9s;
}

@keyframes txtOver {
    from {
        color: rgb(250, 250, 250);
    }
    to {
        color: rgb(8, 8, 8);
    }
}

.txt-link-Out {
    color: rgb(255, 255, 255);
    animation: txtOut 0.5s;
}

@keyframes txtOut {
    from {
        color: rgb(8, 8, 8);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

.button {
    position: absolute;
    width: 150%;
    height: 80%;
}

.button-animate-max {
    position: absolute;
    width: 120%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    animation: bcButton 0.1s;
}

@keyframes bcButton {
    from {
        width: 0%;
    }
    to {
        width: 120%;
    }
}

.button-animate-min {
    position: absolute;
    width: 120%;
    height: 0%;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    animation: bcButtonmin 0.3s;
}

@keyframes bcButtonmin {
    from {
        height: 80%;
    }
    to {
        height: 0%;
    }
}

#search {
    width: 220px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.56);
    border-radius: 10px;
    margin-left: 200px;
}

#search:active, #search input[type=text], #search button[type=submit] {
    border: none;
    outline: none;
}

#search input[type=text] {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'Rajdhani', sans-serif;
    padding: 0 0 0 20px;
    color: rgb(165, 37, 37);
}

#search input[type=text]::placeholder {
    color: rgba(22, 22, 22, 0.5);
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
}

#search button[type=submit] {
    position: relative;
    right: 3px;
    top: 5%;
    border: none;
    height: 90%;
    width: 37px;
    border-radius: 9px;
    background-color: rgb(73, 74, 75);
}

.iconSearch {
    width: 15px;
}

#submitB {
    text-decoration: none;
}

/* @media(max-width:1530px) {
    nav {
        width: 95%;
        min-width: 0px;
    }
    #itemsSection {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: rgb(41, 41, 41, 0.7);
        border-radius: 5px;
        width: 216px;
        top: 100%;
        height: calc(100% + 250px);
        padding: 10px 0 10px 0;
    }
    #links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .link {
        margin-left: 20px;
    }
    .icon {
        width: 60%;
    }
    #btnMenuSection {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search {
        width: 188.5px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-left: initial;
    }
    #search button[type=submit] {
        height: 90%;
        width: 34px;
        right: 3px;
        top: 5%;
    }
    .iconSearch {
        width: 17px;
    }
    .txt-link {
        font-size: 12px;
    }
    .txt-link:focus, .txt-link::selection {
        outline: none;
        border: none;
    }
    .txt-link {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
} */