#bcHeader {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.nav-shadow {
  top: -90px;
}
.nav-shadow-down {
  top: 0px;
  animation: shadowDown 0.4s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes shadowDown {
  from {
    top: -90px;
  }
  to {
    top: 0px;
  }
}
.nav-shadow-up {
  top: -90px;
  animation: shadowUp 0.4s;
}

@keyframes shadowUp {
  from {
    top: 0px;
  }
  to {
    top: -90px;
  }
}

#header {
  position: fixed;
  width: 100%;
  height: 60px;
  /* background-color: rgb(79, 204, 162); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.header {
  /* top: 90px; */
  top: 5%;
}

.header-up {
  top: 0px;
  animation: headerUp 0.4s;
}

@keyframes headerUp {
  from {
    top: 5%;
  }
  to {
    top: 0px;
  }
}

.header-down {
  top: 5%;
  animation: headerDown 0.4s;
}

@keyframes headerDown {
  from {
    top: 0px;
  }
  to {
    top: 5%;
  }
}

nav {
  width: 90%;
  min-width: 925px;
  height: 90%;
  padding: 0 10px 0 10px;
  /* background-color: rgb(39, 38, 38); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  height: 100%;
}

#logoSection {
  padding: 10px;
  /* background-color: rgb(94, 12, 12); */
}

.iconSchool {
  height: 3vh;
}

#itemsSection {
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  /* font-size: 0.7vw; */
  font-size: 11px;
  line-height: 19px;

  text-align: center;

  background: linear-gradient();
  transition: all 0.2s;

  color: white;
}

.link:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  /* color:rgb(34, 34, 34); */
}

.link-down {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #29f39a;
  transition: all 0.2s;
}

#searchSection {
  position: relative;
  width: 280px;
  height: 35px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#menuSection {
  display: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  /* background-color: rgb(42, 121, 121); */
}

.iconMenu {
  height: 3vh;
}

#boxSearch {
  background-color: rgba(22, 21, 21, 0);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 0 20px;
  color: rgb(49, 49, 49);
}

#boxSearch,
#boxSearch input[type="text"],
#boxSearch button[type="submit"],
#buttonSearch {
  border: none;
  outline: none;
  color: rgb(46, 46, 46);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxSearch::placeholder {
  color: rgba(12, 12, 12, 0.589);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

#buttonSearch {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 5px;
  top: 4px;
  border: none;
  background: linear-gradient(103.58deg, rgba(34, 179, 111, 0.938) 2.2%, rgba(38, 167, 187, 0.815) 99.47%);
  border-radius: 7px;
  padding-top: 4px;
}

.iconSearch {
  height: 14px;
}

#menuMobile {
  display: none;
  position: fixed;
}

@media (max-width: 1024px) {
  nav {
    min-width: 95%;
  }

  #itemsSection {
    display: none;
  }

  #searchSection {
    display: none;
  }

  #menuSection {
    display: initial;
  }

  #menuMobile {
    display: flex;
    z-index: 150;
    overflow: hidden;
    height: 100%;
    background: #282d32;
    justify-content: center;
    align-items: center;
  }

  .container-menu-mobile {
    width: 0%;
  }
  .container-menu-mobile-show {
    width: 100%;
    transition: all 1s;
  }
  .container-menu-mobile-hidden {
    width: 0%;
    transition: all 0.4s;
  }

  .btn-close {
    border-radius: 5px;
    background-color: rgba(255, 62, 62, 0.5);
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 19px;
    text-decoration: none;

    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-close {
    width: 70%;
  }
  .container-links-mobile {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, minmax(165px, 1fr));
    grid-template-rows: repeat(10, auto);
    grid-gap: 5px;
  }

  .item-movil {
    border-radius: 5px;
    overflow: hidden;
  }

  .itemM1 {
    background: url(../media/images/menu-mobile/Home.jpg) fixed no-repeat;
    background-size: cover;

    grid-row: span 5;
    grid-column: span 1;
  }
  .itemM2 {
    grid-row: span 7;
    grid-column: span 1;
    background: url(../media/images/menu-mobile/Calender.JPG) fixed no-repeat;
    background-size: cover;
  }
  .itemM3 {
    grid-row: span 5;
    grid-column: span 1;
    background: url(../media/images/menu-mobile/Schoolen.jpg) fixed no-repeat;
    background-size: cover;
  }
  .itemM4 {
    grid-row: span 7;
    grid-column: span 1;
    background: url(../media/images/menu-mobile/Vacaturas.jpg) fixed no-repeat;
    background-size: cover;
  }
  .itemM5 {
    grid-row: span 4;
    grid-column: span 1;
    background: url(../media/images/menu-mobile/LoginPortal.jpg) fixed no-repeat;
    background-size: cover;
  }
  .itemM6 {
    grid-row: span 3;
    grid-column: span 1;
    background: url(../media/images/menu-mobile/Aboutus.jpg) fixed no-repeat;
    background-size: cover;
  }
  .itemM7 {
    grid-row: span 3;
    grid-column: span 1;
    background-color: rgb(231, 111, 75);
  }

  .item-movil-close {
    border-radius: 5px;
    background-color: rgba(255, 62, 62, 0.5);
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 19px;
    text-decoration: none;

    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item-movil-filter {
    border-radius: 5px;
    background-color: rgba(41, 39, 39, 0.5);
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    line-height: 19px;
    text-decoration: none;

    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .iconMenuMobile {
    margin-bottom: 3vh;
    width: 40px;
  }
}
