.container-section-MV {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;


  background: linear-gradient(#2b2b3aa4, #254558cb),
    url(../media/images/bible.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;


}


.content-mv-title-description {
  position: relative;
  display: flex;
  justify-content: center;
}

.mv-title {
  color: rgb(255, 255, 255);
  margin-right: 50px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 65px;
}

.mv-description {
  position: relative;
  max-width: 120px;
  font-family: Proxima Nova;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  /* border-left: 4px rgba(255, 255, 255, 0.596) solid;
  padding-left: 10px; */
}

.mv-description::after {
  content: '';
  left: 0;
  top: 5%;
  position: absolute;
  transform: translateX(-400%);
  width: 3px;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

.content-button-mv {
  margin-top: 15px;
  position: relative;
}

.button-mv {
  position: absolute;
  right: 0px;

  text-decoration: none;
  width: 125px;
  height: 45px;
  border-radius: 9px;
  color: #242020;
  background: linear-gradient(103.58deg, rgba(34, 179, 111, 0.938) 2.2%, rgba(38, 167, 187, 0.815) 99.47%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-mv-phrase {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.phrase {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 30px;

  color: #ffffff;
}

.mention {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  /* width: 145px; */
}

/* pantallas grandes */

@media (max-width: 1200px) {
  .container-section-MV {
    flex-direction: column;
    justify-content: center;
  }

  .container-mv-title {
    width: 100%;
    padding: 150px 50px 150px 50px;
  }

  .content-button-mv {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .button-mv {
    position: initial;
    right: initial;
  }

  .container-mv-phrase {
    width: 90%;
    padding: 50px 0px 150px 0px;
  }


  .mention {
    position: initial;
    text-align: center;
  }
}

/* escritorio normales */

@media (max-width: 992px) {}

/* tabletas */

@media (max-width: 768px) {
  .container-mv-title {
    padding: 120px 0px 120px 0px;
  }

  .content-mv-title-description {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mv-title {
    margin-right: initial;
    text-align: center;
    font-size: 40px;
  }


  .mv-description {
    max-width: 220px;
    text-align: center;
  }

  .mv-description::after {
    left: 5%;
    bottom: 0;
    top: initial;
    transform: translateY(200%);

    width: 90%;
    height: 4px;
  }

}

/* Moviles */

@media (max-width: 400px) {}