@import 'header.css';
@import 'coverSlider.css';
@import 'fx.css';
@import 'wellcome.css';
@import 'mv.css';
@import 'cards.css';
@import 'footer.css';
@import 'video.css';
@import 'popups.css';

@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Proxima Nova Alt Light;
    src: url(../fonts/Proxima\ Nova\ Alt\ Light.otf);
}

* {
    font-family: Proxima Nova;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(31, 31, 31);
    scroll-behavior: smooth;
}

.container-full {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(53, 35, 35);
}